version: "3.4"
services:
  web:
    build: .
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    ports:
      - "3000:3000"
    env_file: .env
    depends_on:
      - db
      - redis
      - elasticsearch
    volumes:
      - .:/app

  redis:
    image: "redis:7.2.4-alpine"
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/usr/share/redis/data
    command: redis-server --appendonly yes
    networks:
      - my-network

  db:
    image: mysql
    container_name: mysql
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
    ports:
      - 3306
    volumes:
      - db_data:/usr/share/mysql/data

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    container_name: elasticsearch
    environment:
      - xpack.security.enabled=false
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - es_data:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
      - "9300:9300"
    networks:
      - my-network

volumes:
  db_data:
  redis_data:
  es_data:

networks:
  my-network:
    driver: bridge
