version: "3.4"
services:
  web:
    build: .
    ports:
      - "3000:3000"
    restart: always
    env_file: .env
    depends_on:
      - db
      - redis
      - sidekiq
      - elasticsearch
    volumes:
      - .:/app
    develop:
      watch:
        - action: rebuild
          path: .
    networks:
      - my-network

  sidekiq:
    build: .
    command: bundle exec sidekiq
    restart: always
    env_file: .env
    depends_on:
      - redis
    volumes:
      - .:/app
    networks:
      - my-network

  redis:
    image: "redis:7.2.4-alpine"
    ports:
      - "6379:6379"
    restart: always
    volumes:
      - redis_data:/redis/data
    command: redis-server --appendonly yes
    networks:
      - my-network

  db:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
      - MYSQL_TCP_PORT=3310
    ports:
      - "3310:3310"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - my-network

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    container_name: elasticsearch
    environment:
      - xpack.security.enabled=false
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - es_data:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
      - "9300:9300"
    networks:
      - my-network

volumes:
  db_data:
  redis_data:
  es_data:

networks:
  my-network:
    driver: bridge
